
/*#FONT */
.font-robo {
    font-family: 'Abel', sans-serif;
  }
  
  .font-poppins {
    font-family: 'Abel', sans-serif;
  }
  
  .font-opensans {
    font-family: 'Abel', sans-serif;
  }
  
  /*  #GRID */
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row .col-2:last-child .input-group-desc {
    margin-bottom: 0;
  }
  
  .row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .row-refine {
    margin: 0 -15px;
  }
  
  .row-refine .col-3 .input-group-desc,
  .row-refine .col-9 .input-group-desc {
    margin-bottom: 0;
  }
  
  .col-2 {
    width: -webkit-calc((100% - 30px) / 2);
    width: -moz-calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
  }
  
  @media (max-width: 767px) {
    .col-2 {
      width: 100%;
    }
  }
  
  .form-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .form-row .name {
    width: 125px;
    color: #555;
    font-size: 15px;
    font-weight: 700;
  }
  
  .form-row .value {
    width: -webkit-calc(100% - 125px);
    width: -moz-calc(100% - 125px);
    width: calc(100% - 125px);
  }
  
  @media (max-width: 767px) {
    .form-row {
      display: block;
    }
    .form-row .name,
    .form-row .value {
      display: block;
      width: 100%;
    }
    .form-row .name {
      margin-bottom: 7px;
    }
  }
  
  .col-3,
  .col-9 {
    padding: 0 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
  }
  
  .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  @media (max-width: 767px) {
    .col-3 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 35%;
      -moz-box-flex: 0;
      -ms-flex: 0 0 35%;
      flex: 0 0 35%;
      max-width: 35%;
    }
  }
  
  .col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  @media (max-width: 767px) {
    .col-9 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 65%;
      -moz-box-flex: 0;
      -ms-flex: 0 0 65%;
      flex: 0 0 65%;
      max-width: 65%;
    }
  }
  
  /*#BOX-SIZING*/
  
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  /* RESET*/
  
  body,
  h1, h2, h3, h4, h5, h6,
  blockquote, p, pre,
  dl, dd, ol, ul,
  figure,
  hr,
  fieldset, legend {
    margin: 0;
    padding: 0;
  }
  
  
  li > ol,
  li > ul {
    margin-bottom: 0;
  }
  
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  
  fieldset {
    min-width: 0;
    /* [1] */
    border: 0;
  }
  
  button {
    outline: none;
    background: none;
    border: none;
  }
  
  /*#PAGE WRAPPER */
  .page-wrapper {
    min-height: 100vh;
  }
  
  body {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 15px;
  }
  
  h6 {
    font-size: 13px;
  }
  
  /* 
     #BACKGROUND
      */
  
  
  /* #SPACING */
  .p-t-100 {
    padding-top: 100px;
  }
  
  .p-t-130 {
    padding-top: 130px;
  }
  
  .p-t-180 {
    padding-top: 180px;
  }
  
  .p-t-45 {
    padding-top: 45px;
  }
  
  .p-t-20 {
    padding-top: 20px;
  }
  
  .p-t-15 {
    padding-top: 15px;
  }
  
  .p-t-10 {
    padding-top: 10px;
  }
  
  .p-t-30 {
    padding-top: 30px;
  }
  
  .p-b-100 {
    padding-bottom: 100px;
  }
  
  .p-b-50 {
    padding-bottom: 50px;
  }
  
  .m-r-45 {
    margin-right: 45px;
  }
  
  .m-r-55 {
    margin-right: 55px;
  }
  
  .m-b-55 {
    margin-bottom: 55px;
  }
  
  /* 
     #WRAPPER
      */
  .wrapper {
    margin: 0 auto;
  }
  
  .wrapper--w960 {
    max-width: 960px;
  }
  
  .wrapper--w790 {
    max-width: 790px;
  }
  
  .wrapper--w780 {
    max-width: 780px;
  }
  
  .wrapper--w680 {
    max-width: 680px;
  }
  
  /* 
     #BUTTON
     */
  .btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
  }
  
  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  
  .btn--green {
    background: #57b846;
  }
  
  .btn--green:hover {
    background: #4dae3c;
  }
  
  .btn--blue {
    background: #4272d7;
  }
  
  .btn--blue:hover {
    background: #3868cd;
  }
  
  .btn--red {
    background: darkblue;
  }
  
  .btn--red:hover {
    background: #FFD369;
  }
  
  
  .input--style-5 {
    background: #e5e5e5;
    line-height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
  }
  
  .input-group-desc {
    position: relative;
  }
  
  @media (max-width: 767px) {
    .input-group-desc {
      margin-bottom: 40px;
    }
  }
  
  
  .label {
    color: #555;
    font-size: 15px;
    font-weight: 700;
  }
  
  .label--block {
    width: 100%;
  }
  
  .label--desc {
    position: absolute;
    text-transform: capitalize;
    display: block;
    color: #999;
    font-size: 14px;
    margin: 0;
    margin-top: 7px;
    left: 0;
  }
  
  /* 
     #TITLE
      */
  .title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }
  
  /* 
     #CARD
     */
  .card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
  }
  
  .card-5 {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }
  
  .card-5 .card-heading {
    padding: 20px 0;
    background: darkblue;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-5 .card-body {
    padding: 52px 85px;
    padding-bottom: 73px;
  }
  
  @media (max-width: 767px) {
    .card-5 .card-body {
      padding: 40px 30px;
      padding-bottom: 50px;
    }
  }
  