@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
.main{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#F3F5FB;
}
.container-card{
  position:relative;
  transform:translateY(-50%);
  
}
.card-top{
  width:350px;
  background:linear-gradient(#6789E4,#8182EF,#8F6DD5);
  padding:2rem;
  padding-bottom:7rem;
  color:#fff;
  border-radius:10px;
  text-align:center;
}
.card-top h3{
  font-size:20px;
  text-transform:capitalize;
  margin-bottom:10px;
}
.card-top p{
  font-size:13px;
  opacity:.8;
}
.card-bottom{
  background:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:1.5rem;
  margin:0 10%;
  flex-direction:column;
  position:absolute;
  bottom:-14rem;
  left:0;
  right:0;
  border-radius:10px;
}
.card-bottom span{
  text-transform:capitalize;
  font-size:18px;
  margin-bottom:2rem;
}
.card-bottom img{
  width:80px;
  height:80px;
  border-radius:50%;
}
.card-bottom .name{
  text-transform:capitalize;
  font-weight:bold;
  margin-top:10px;
}
.card-bottom .status{
  position:relative;
  font-size:12px;
  padding-left: 20px;
  padding-right:10px;
  border-radius:20px;
  opacity:.7;
  border:2px solid #F3F5FB;
  margin-bottom:2rem;
}
.card-bottom .status::before{
  content:"";
  width:6px;
  height:6px;
  border-radius:50%;
  position:absolute;
  background:green;
  color:blue;
  top:4px;
  left:10px;
  bottom:0;
}
.btn{
  width:100%;
  padding:.8rem;
  border:none;
  background: linear-gradient(to right,#6789E4,#8182EF,#8F6DD5);
  color:#fff;
  border-radius:5px;
  transition:.2s ease-in-out;
  cursor:pointer;
}
.btn:hover{
  background: linear-gradient(to left ,#8F6DD5,#8182EF,#6789E4);
  box-shadow:2px 5px 6px rgba(0,0,0,.2);
}

@media screen and (max-width:500px){
  .container-card{
    margin:0px;
  }
  .card-bottom,card-top{
    margin:0px;
    width:auto;
  }
}