<style>
    .star-container:nth-child(2) {
        transform: rotate(calc(180deg / 7));
    }

    .star-container:nth-child(3) {
        transform: rotate(calc(180deg / 7 * 2)); 
    }

    .star-container:nth-child(4) {
        transform: rotate(calc(180deg / 7 * 3));
    }

    .star-container:nth-child(5) {
        transform: rotate(calc(180deg / 7 * 4));
    }

    .star-container:nth-child(6) {
        transform: rotate(calc(180deg / 7 * 5));
    }

    .star-container:nth-child(7) {
        transform: rotate(calc(180deg / 7 * 6));
    }
</style>

<div class="stars">
    <div class="star-container">
        <div class="star"></div>
    </div>
    <div class="star-container">
        <div class="star"></div>
    </div>
    <div class="star-container">
        <div class="star"></div>
    </div>
    <div class="star-container">
        <div class="star"></div>
    </div>
    <div class="star-container">
        <div class="star"></div>
    </div>
    <div class="star-container">
        <div class="star"></div>
    </div>
    <div class="star-container">
        <div class="star"></div>
    </div>
</div>
